body
{
    background-color: #808080;
}
form
{
    height: 1000px;
    width: 1007px;
    background-color: #666666;
    margin-left:200px;
}

table
{
    width:997px;
    float:left;
    height: 30px;
}
